aiofiles
aiogram==3.2.0
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs==23.1.0
certifi
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
configs==3.0.3
dataclasses-json==0.6.3
distro==1.8.0
dnspython==2.4.2
docker==7.0.0
environs==9.5.0
fastapi==0.105.0
filelock==3.13.1
frozenlist==1.4.0
fsspec==2023.10.0
greenlet==3.0.2
h11==0.14.0
httpcore==1.0.1
httpx==0.25.1
idna==3.4
Jinja2==3.1.2
jsonpatch==1.33
jsonpointer==2.4
langchain==0.0.352
langchain-community==0.0.5
langchain-core==0.1.2
langsmith==0.0.72
llvmlite==0.41.1
magic-filter==1.0.12
MarkupSafe==2.1.3
marshmallow==3.20.1
mongoengine==0.27.0
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
mutagen==1.47.0
mypy-extensions==1.0.0
networkx==3.2.1
numba==0.58.1
numpy==1.26.1
openai==1.2.0
openai-whisper @ git+https://github.com/openai/whisper.git@fcfeaf1b61994c071bba62da47d7846933576ac9
packaging==23.2
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
pydub==0.25.1
pymongo==4.6.0
python-dotenv==1.0.0
pywin32==306
PyYAML==6.0.1
redis==5.0.1
regex==2023.10.3
requests==2.31.0
sniffio==1.3.0
SQLAlchemy
srt
starlette
sympy
tenacity
tiktoken
torch
tqdm
typing-inspect
typing_extensions
urllib3
uvicorn
vosk
websockets
yarl
