aiofiles==23.1.0
aiogram==3.1.1
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
async-timeout==4.0.3
attrs==23.1.0
colorama==0.4.6
configs==3.0.3
dataclasses-json==0.6.3
environs==9.5.0
fastapi==0.105.0
httpcore==1.0.1
httpx==0.25.1
jsonpatch==1.33
langsmith==0.0.72
llvmlite==0.41.1
mongoengine==0.27.0
typing-inspect==0.9.0
typing_extensions==4.9.0
urllib3==2.0.7
uvicorn==0.25.0

