aiofiles
aiogram==3.2.0
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
certifi
cffi
chardet
charset-normalizer
click
colorama
configs
dataclasses-json
distro
dnspython
docker
environs
fastapi
filelock
frozenlist
fsspec
greenlet
h11
httpcore
httpx
idna
Jinja2
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langsmith
llvmlite
magic-filter
MarkupSafe
marshmallow
mongoengine
more-itertools
mpmath
multidict
mutagen
mypy-extensions
networkx
numba
numpy
openai
openai-whisper @ git+https://github.com/openai/whisper.git@fcfeaf1b61994c071bba62da47d7846933576ac9
packaging
pycparser
pydantic
pydantic_core
pydub
pymongo
python-dotenv
PyYAML
redis
regex
requests
sniffio
SQLAlchemy
srt
starlette
sympy
tenacity==8.2.3
tiktoken==0.5.2
torch==2.1.0
tqdm==4.66.1
typing-inspect==0.9.0
typing_extensions==4.9.0
urllib3==2.0.7
uvicorn==0.25.0
vosk==0.3.45
websockets==12.0
yarl==1.9.2
